In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/WS_XRU_D_csv_row.csv')
# df.apply(pd.to_numeric)
headers = df.iloc[1].values
df = df.iloc[10:, :]
df.columns = headers
df.set_index('Currency', inplace=True)
df.index.name = 'Trade Date'
df.head()

/Users/charliechen/miniconda3/envs/gp_env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,AED:UAE dirham,ALL:Lek,ARS:Argentine peso,EUR:Euro,AUD:Australian dollar,BAM:Bosnian convertible mark,EUR:Euro,BGN:Lev,BHD:Bahraini dinar,BND:Brunei dollar,...,TRY:Turkish lira,TTD:Trinidad and Tobago dollar,TWD:New Taiwan dollar,UAH:Hryvnia,USD:US dollar,UYU:Uruguayan peso,VEF:Bolivar,EUR:Euro,XDR:Special drawing right,ZAR:South African Rand
Trade Date,,,,,,,,,,,,,,,,,,,,,
1949-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
1949-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
1949-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
1949-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
1949-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN

In [3]:
currencies = ['AUD', 'NZD', 'JPY', 'SEK', 'GBP', 'EUR', 'CHF']

for cur in currencies:
    for col in df.columns:
        if cur in col:
            one = df[[col]].iloc[:, :1].dropna()
            one.columns = ['Settle']
            print(cur, one.index.min(), one.index.max(), len(one))
            one.to_csv(f'data/currency/{cur}.csv')
            break

AUD 1971-01-04 2022-11-14 13171
NZD 1971-01-04 2022-11-14 13164
JPY 1969-12-01 2022-11-14 13448
SEK 1953-09-01 2022-11-14 17888
GBP 1953-08-10 2022-11-14 17899
EUR 1957-01-02 2022-11-14 16876
CHF 1953-09-01 2022-11-14 17889

In [4]:
all_cur = df.copy()

for col in all_cur.columns:
    drop = True
    for cur in currencies:
        if cur in col:
            drop = False
            all_cur = all_cur.rename(columns={col:cur})
            break
    if drop:
        all_cur = all_cur.drop(columns=col)
            # one = df[[col]].iloc[:, :1].dropna()
            # one.columns = ['Settle']
            # print(cur, one.index.min(), one.index.max())
            # one.to_csv(f'data/currency/{cur}.csv')
            # break
all_cur = all_cur.loc[:, ~all_cur.columns.duplicated()].dropna()
print(all_cur.index.min(), all_cur.index.max(), len(all_cur))
all_cur.to_csv(f'data/currency/all_cur.csv')

1971-01-04 2022-11-14 13092

In [5]:
all_cur.head()

                 EUR       AUD     CHF       GBP     JPY       NZD     SEK
Trade Date
1971-01-04  1.879029  0.898715   4.318  0.417746  357.73  0.897827  5.1643
1971-01-05  1.879174  0.898311  4.3117  0.417554  357.81  0.897424  5.1628
1971-01-06  1.879101  0.897666  4.3113   0.41724  357.86  0.896781  5.1614
1971-01-07  1.879319  0.897827  4.3103   0.41731  357.87  0.896861  5.1649
1971-01-08  1.879392  0.898957  4.3109  0.417153  357.82  0.896539  5.1631